name: Manual build and push to Docker Hub
on:
  workflow_dispatch:
jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        branch: ["1.7", "1.8", "1.9", "2.0", "2.1", "2.2", "2.3", "2.4", "2.5"]
    env:
      DOCKER_PLATFORMS: linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le
      DOCKER_IMAGE: haproxytech/haproxy-ubuntu
      STABLE_BRANCH: "2.4"
    steps:
      - name: Login to Docker Hub
        id: login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Check out repo
        id: checkout
        uses: actions/checkout@v2

      - name: Prepare env variables
        id: env
        run: |
          echo "BUILD_BRANCH=$(echo ${{ matrix.branch }})" >> $GITHUB_ENV
          echo "BUILD_VER=$(awk '/^ENV HAPROXY_MINOR/ {print $NF}' ${{ matrix.branch }}/Dockerfile)" >> $GITHUB_ENV
          echo "BUILD_DATE=$(date +'%Y-%m-%d %H:%M:%S')" >> $GITHUB_ENV
          echo "GIT_SHA=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_ENV
          echo "GIT_REF=$(git symbolic-ref -q --short HEAD || git describe --tags --exact-match)" >> $GITHUB_ENV

      - name: Build and push latest stable branch
        if: ${{ env.BUILD_BRANCH == env.STABLE_BRANCH }}
        id: docker_build_latest
        uses: docker/build-push-action@v2
        with:
          context: ${{ env.BUILD_BRANCH }}
          file: ${{ env.BUILD_BRANCH }}/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          platforms: ${{ env.DOCKER_PLATFORMS }}
          push: true
          labels: |
            org.opencontainers.image.authors=${{ github.repository_owner }}
            org.opencontainers.image.created=${{ env.BUILD_DATE }}
            org.opencontainers.image.description=Created from commit ${{ env.GIT_SHA }} and ref ${{ env.GIT_REF }}
            org.opencontainers.image.ref.name=${{ env.GIT_REF }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.version=${{ env.BUILD_VER }}
          tags: |
            ${{ env.DOCKER_IMAGE }}:latest
            ${{ env.DOCKER_IMAGE }}:${{ env.BUILD_BRANCH }}
            ${{ env.DOCKER_IMAGE }}:${{ env.BUILD_VER }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Build and push everything else
        if: ${{ env.BUILD_BRANCH != env.STABLE_BRANCH }}
        id: docker_build_regular
        uses: docker/build-push-action@v2
        with:
          context: ${{ env.BUILD_BRANCH }}
          file: ${{ env.BUILD_BRANCH }}/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          platforms: ${{ env.DOCKER_PLATFORMS }}
          push: true
          labels: |
            org.opencontainers.image.authors=${{ github.repository_owner }}
            org.opencontainers.image.created=${{ env.BUILD_DATE }}
            org.opencontainers.image.description=Created from commit ${{ env.GIT_SHA }} and ref ${{ env.GIT_REF }}
            org.opencontainers.image.ref.name=${{ env.GIT_REF }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.version=${{ env.BUILD_VER }}
          tags: |
            ${{ env.DOCKER_IMAGE }}:${{ env.BUILD_BRANCH }}
            ${{ env.DOCKER_IMAGE }}:${{ env.BUILD_VER }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
